
 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Arial', 'sans-serif';
    text-decoration: none;
    list-style: none;
}
.header{
    position: relative; 
    top:0;
    left:0;
    width:100%;
    padding:20px 3%;
    background:black;
    backdrop-filter: blir(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size:20px;
    color:white;
    font-weight: 600;
    transition: 0.3s ease; 
}
.logo:hover{
    color:orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform:scale(1.1);
}
span{
    color: orangered;
}
.menu-icon {
    font-size: 10px;
    cursor: pointer;
    display: none;
    color: #ddd; 
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

/* Navbar Links */
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

/* Navbar Hover Effect */
.navbar a:hover {
    color: #ff4500; /* Change color on hover */
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px;
}
.navbar a:hover,
.navbar a.active{
    color:orangered;
    border-bottom: 3px solid orangered;
}
.btn{
    display:inline-block;
    padding:10px 10px;
    background:orangered;
    box-shadow: 0 0 1rem var(--main-color);
    font-size:11px;
    letter-spacing: 1px;
    border-radius: 10px;
    color:white;
    font-weight: 600;
    transition:.5s ease;
}
.btn:hover{
    box-shadow: none;
}
.home{
    width:100%;
    min-height: 100vh;
    background-color: rgb(241,241,241);
    display:flex;
    align-items: center;
    gap:7em;
    padding:30px 12% 0;
}
.home-content{
    max-width: 1570px;
}
.home-content h3{
    font-size: 30px;
}
.home-content h1 {
    font-size: 25px;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px); 
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}
.home-content p{
    font-size:15px;
    margin:15px 0 30px;
}
.home-content .social-media a {
    font-size: 20px;
    color: black;
    border: 2px solid orangered;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 3px 6px; 
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 0.3s ease;
}
.social-media a i{
    font-size: 18px;
    padding: 5px 3px;
}
.home-content .social-media a:hover{
    transform: scale(1.2)translateY(-10px);
    color:orangered;
    border: 2px solid orangered;
} 
.btn-box{
    width:40px;
    display:flex;
    gap:2em;
}

.btn-1{
    padding:9px 9px;
    background-color: black;
    color:white;
    margin-left:15px ;
    border:2px solid tranpararent;
    border-radius:8px;
    font-size:10px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor:pointer;
    margin-top: 20px;
}
.btn-1:hover{
    background-color: white;
    color:black;
    border:2px solid black;
}
.btn:hover{
    background-color:black;
    color:orangered;
}
.about-content .btn-2{
    padding:10px 10px;
    background-color: orangered;
    color:white;
    border:2px solid black;
    border-radius:8px;
    font-size:10px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s;
    cursor:pointer;
}
.btn-2:hover{
    background-color: white;
    color:orangered;
}
.img-box img{
    border-radius: 50%;
    position: relative;
    left: 3rem;
    bottom: 50px;
    width:100%px;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 0 25px orangered,
    0 0 50px orangered;
}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.6);
    width:50px;
}
.about{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:12% 8%;
    gap:10em;
    background: black;
}
.about-img img{
    position:relative;
    width:100%;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
    border-radius: 50%; 
    cursor: pointer; 
}
.about-content h2{
    text-align:center;
    color:white;
    font-size:40px;
    position: relative;
    top: -100px; 
    right:100px;
}
.about-content h3{
    font-size: 30px;
    margin-top: -30px; 
    color:white;
}
.about-content p{
    color:white;
    font-size: 15px;
    margin:2em 0 3em;
    max-width: 11200px;
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 1.6;  
}
.inner{
    padding-top:20px;
    background-color: rgba(0, 0, 0, 0.080); 
}
.header-3 h1{
    text-align:center;
    color: black;
    padding:1rem;
    font-size: 40px;
    text-decoration: underline;
    position:relative
}
.container-2{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap:1rem;
    padding:1rem 80px;
    font-size: 1.2rem;
}
.skill-box{
    padding:1rem;
    color:#ddd;
    cursor: pointer;
}
.skill-box:hover > .skill-title::after, .skill-box:hover > .skill-title::before{
    width:35px;
}
.skill-title{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position:relative
}
.skill-title::after{
    content:"";
    position:absolute;
    bottom:0;
    right:50%;
    width:0;
    height:4px;
    border-radius:2px 0 0 2px;
    background-color: 2ecc71;
    transition: .5s;
}
.skill-title::before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:35px;
    height:4px;
    border-radius:0 2px 2px 0;
    background-color: 2ecc71;
    transition: .5s;
}
.skill-box:hover .img{
    transform: translateY(-40px);
}
.img {
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transition: .5s;
}
.img:after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:90%;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px;
}
.skill-title h5{
    color: #101010;
    margin:0.5em;
}
.skill-box p{
    /* color:#fff; */
    color: #101010;
    font-size: 15px;
}
.skill-icon{
    width: 30px;
    z-index: 4;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
}
@media screen and (max-width:900px){
    .container-2{
        grid-template-columns: repeat(2, 1fr);
        padding:2rem;
    }
}
@media screen and (max-width:650px){
    .container-2{
        grid-template-columns: 1fr;
        padding:2rem;
    }
}
/*@@@@@@@@@@@@@@@@@@ education  @@@@@@@@@@@@@@@@@@@@*/
.education{
    background: #101010;
    width:100%;
    padding:250px 0px;
}
.title .he{
    color:white;
    font-size:40px;
    width:1130px;
    margin-top: -200px; 
    margin-left: 90px; 
    text-align: center;  
}
.title .he{
position: absolute;
}  
.he{
    margin-top:100px;
}
.title h2 span{
    color:#f9004d;
}
.education-box{
    display:flex;
    justify-content:center;
    min-height: 100px; 
}
.card{
    height:350px;
    width:600px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin:15px;
    margin-top: -90px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 35px;
    display:block;
    text-align: center;
    margin:30px 0px;
    color:#f9004d;
}
.study{
    color:white;
    font-size: 23px;
    margin-bottom:15px
}
.pra p{
    color:#fcfe;
    font-size:19px;
    line-height:27px;
    margin-bottom:25px;
    margin-top:20px;
}
.card .info-btn{
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding:8px 12px;
    border-radius: 30px;
    transition: .4s;
}
.info-btn{
    position: absolute;
    bottom:40px;
    right: 150px;   
    font-size: 12px;
}

.card .info-btn:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.project {
    background: var(--second-bg-color);
    background-color: #d0c3be;
    padding: 100px 20px;
}
.project-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    align-items: center;
    gap: 3rem;
    margin-top: 20px;
    width: 180%;
    max-width: 800px;
    margin: 0 auto;
} 
.centre-text .h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}
.project-layer {
    position: absolute;
    width: 95%;
    height: 95%;
    background: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    top:10px;
}
.project-layer .s{
    font-size: 20px;

}
.project-layer a i{
    margin-top: -60px;
    color: white;
    font-size: 20px;
    margin-right: 77px;
}

.row {
    position: relative;
    background: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 10px;
    transition: all 0.50s ease;
}

.row img {
    height: 175px;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}
.row:hover .project-layer {
    opacity: 1;
}

.row h5 {
    font-size: 15px;
    font-weight: 800;
    color: whitesmoke;
    margin-top: -10px;
}

.row i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 17px;
    border-radius: 50%;
    background: #075fe4;
    position: absolute;
    right: 22px; 
    top: 194px;
    color: var(--text-color);
}

.row h4 {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
    color: white;
}

.row:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}



.container-1{
    background: linear-gradient(135deg, #49d1bd, #3f87a6, #ebf8e1);  
    font-size: 14px; 
    /* height: 100vh; */
     margin-top: -50px;
    cursor: pointer;
}
.contact-left, .contact-right {
    box-sizing: border-box; 
}

.content{
    width:80%;
    margin:50px auto;
}
.contact-box{
    background: #fff;
    display:flex;
    position:relative;
    width: 80%;
    margin-left:120px;
    top: -40px;
    padding:25px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);
}
.contact-box {
    min-height:20px;
}
.contact-left {
    flex-basis: 100%; 
    padding:5px 10px;
    margin-bottom:5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
.input-group input::placeholder {
    font-size:14px; 
    color: #888; 
}

.contact-right {
    flex-basis:50%; 
    width: 100%; 
    padding: 10px 20px;
    background-color: #0262f1;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.content h1{
    margin-bottom: 10px;
    font-size:37px;
    position: relative;
    text-align: center;
    top:20px;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px); 
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}
.content p{
    margin-bottom: 60px;
    font-size:18px;
    margin-top:40px;
    text-align: center;

}
.input-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-bottom:2px;
}

.input-row .input-group {
    flex-basis: 45%; 
    margin-bottom: 5px; 
}

.input-group input {
    width: 100%;
    border: none; 
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom:60px ;
    font-size:8px;
    color: #f9004d;
    padding:10px;
    margin-bottom:10px;
}

.textarea{
    width:100%;
    border: 1px solid #ccc;
    outline: none;
    padding:7px;
    font-size:8px;
    box-sizing: border-box;
    color: #f9004d;
}
.textarea::placeholder{
    font-size: 10px;
}
label{
    margin-bottom: 6px;
    display: block;
    color:#191919;
    font-size:15px;
}

.contact-left .sub-1{
    background-color: #191919;
    width:25%;
    border:none ;
    outline:none;
    color:#fff;
    height:30px;
    font-size:15px;
    border-radius:10px;
    margin-top:10px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0,181,0.3);
}
.contact-left .sub-1:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    color: black;
    cursor: pointer;
}
.contact-left h3{
    color: #191919;
    font-size:20px;
    margin-bottom:30px;
}
.contact-right h3{
    font-weight: 600;
    font-size:15px;
}
tr td:first-child{
    padding-right:5px;
}
tr td{
    padding-right: 20px;
    font-size:15px;
    padding-bottom:30px;
}
.contact-right h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom:20px;
}
.td{
    color: #101010;
    font-weight: bold;
    font-size: 17px;
}
/* Responsive Design */
@media (max-width: 768px) {
    .contact-box {
        flex-direction: column;
        padding: 15px;
        margin-left:15px;
    }
    .contact-left, .contact-right {
        width: 100%;
        min-width: unset;
        padding: 15px;
    }

    .contact-right {
        text-align: center;
        border-radius: 0;
    }
    
    .contact-left .sub-1 {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .content h1 {
        font-size: 24px;
    }

    .content p {
        font-size: 14px;
    }

    .contact-box {
        padding: 10px;
    }

    .input-group label {
        font-size: 14px;
    }

    .input-group input, .textarea {
        font-size: 12px;
        padding: 8px;
    }

    .contact-left .sub-1 {
        font-size: 14px;
        height: 35px;
    }
}


/* @media (max-width: 768px) {
    .content {
        width: 95%;  
        margin: 30px auto;
    }

    .contact-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact-left, .contact-right {
        width: 100%;
    }
} */
.footer{
    position: relative;
    bottom:0;
    width:100%;
    height: 100%;
    margin-top: -70px;
    padding:30px 0;
    background-color: black;
}
.contact-left button{
    display:flex;
    align-items: center;
    padding:15px 30px;
    font-size:6px;
    color:black;
    gap:10px;
    background-color:lightpink;
    cursor: pointer;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;

}
.footer .social a{
    font-size:10px;
    color: white;
    border:2px solid orangered;
    width: 25px;
    height:25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered,0 0 10px orangered;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color:orangered;
    border: 2px solid orangered;

} 
.footer ul{
    margin-top:0;
    padding:0;
    font-size:15px;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;

}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display:inline-block;
    padding:0 10px ;

}
.footer .copy-right{
    margin-top: 22px; 
    text-align: center;
    font-size:15px;
    color: white;
} 
.footer .a i{
    color:#e74d06;
   font-size:22px;
   margin-left:8px;

}
@media (max-width: 768px) {
    .education-box {
        grid-template-columns: 1fr;
    }

    .title .he {
        font-size: 30px;
    }

    .card {
        max-width: 90%;
        padding: 15px;
    }
}
/* Responsive Navbar */
@media (max-width: 768px) {
    .menu-icon {
        display: block;  
    }
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: black;
        text-align: center;
        padding: 10px 0;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        padding: 10px;
        display: block;
        width: 100%;
    }
    .header .logo{
        margin-left:10px;
    }
}
/* Home Section Responsive Fix */
@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    .home-content h1 {
        font-size: 22px;
    }

    .home-content p {
        font-size: 14px;
    }

    .social-media {
        justify-content: center;
    }
    .img-box img{
        width: 70%;
        max-width: 250px;
        margin: 0 auto;

    }
}
/* About Section Responsive Fix */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    .about-img {
        width: 50%;
        max-width: 250px;
        margin: 0 auto;
    }

    .about-content {
        padding: 10px;
    }

    .about-content .head h2 {
        font-size: 22px;
        margin-top: -900px;
    }

    .about-content p {
        font-size: 14px;
    }

    .btn-1 {
        font-size: 14px;
        padding: 8px 10px;
    }
}
img {
    /* max-width: 100%; */
    height: auto;
    width: 100%;
}


@media (max-width: 1024px) {
    .project-con {
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem;
    }
}
@media (max-width: 768px) {
    .project-con {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.9rem;
        max-width:90%;
    }

    .row {
        padding: 8px;
    }

    .row img {
        height: 150px;
    }

    .project-layer {
        font-size: 20px;
    }

    .project-layer a i {
        font-size: 18px;
    }

    .row h5 {
        font-size: 13px;
    }

    .row h4 {
        font-size: 9px;
    }

    .row i {
        width: 22px;
        height: 22px;
        font-size: 15px;
        top: 160px;
    }
}

@media (max-width: 480px) {
    .project {
        padding: 50px 10px;
    }

    .centre-text .h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .project-con {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .row {
        padding: 6px;
        border-radius: 20px;
    }

    .row img {
        height: 130px;
    }

    .row h5 {
        font-size: 12px;
    }

    .row h4 {
        font-size: 8px;
    }

    .row i {
        width: 18px;
        height: 18px;
        font-size: 13px;
        top: 140px;
    }
    .project-layer {
        font-size: 18px;
    }

    .project-layer a i {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .contact-box {
        flex-direction: column;
        padding: 15px;
        width: 100%;
    }

    .contact-left, .contact-right {
        width: 100%;
        min-width:100%;
        padding: 15px;
    }

    .contact-right {
        text-align: center;
        border-radius: 0;
    }
    
    .contact-left .sub-1 {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .content h1 {
        font-size: 24px;
    }
    .content p {
        font-size: 14px;
    }
    .contact-box {
        padding: 10px;
    }

    .input-group label {
        font-size: 14px;
    }

    .input-group input, .textarea {
        font-size: 12px;
        padding: 8px;
    }

    .contact-left .sub-1 {
        font-size: 14px;
        height: 35px;
    }
}

